[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
gensim = "*"
ipykernel = "*"
"psycopg2" = "*"
sklearn = "*"
bokeh = "*"

[dev-packages]

[requires]
python_version = "3.6"
